.nutrient-page {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 20px;
}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.fields-section {
    background: transparent;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.fields-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 12px;
}

.submit-button {
    margin-top: 15px;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    background: #3a7afe;
    border: none;
    color: white;
    border-radius: 6px;
}

.submit-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-button:hover {
    background: #2f63d4;
}


.recipe-results {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.recipe-wrapper {
    background: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    padding: 0;
    /* remove default padding */
    overflow: hidden;
}

.recipe-wrapper .recipe-card img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 6px;
}

.recipe-details {
    margin-top: 15px;
    padding: 12px;
    background: #1c1c1c1c;
    border-radius: 8px;
    border: 1px solid #ddd;
}


.recipe-wrapper.expanded {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
}

.recipe-details img {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 10px;
}